.navpage {
  padding: 30px 0 0 0;
}
.navpage-list {
  display: flex;
  flex-wrap: nowrap;
}
.navpage-item {
  margin: 0 8px;
}
.navpage-item:last-child {
  margin: 0 0 0 8px;
}
.navpage-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #8e8e8e;
  font-size: 12px;
}
.navpage-link:hover {
  color: #000;
}
.navpage-link.active {
  color: #000;
}
@media (max-width: 700px) {
  .navpage {
    padding: 20px 0 0 0;
  }
  .navpage-link {
    font-size: 10px;
}
}