.product-list {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}
.product-item {
  width: 30%;
  margin: 10px 5px 20px 5px;
}
.product-item:hover {
  cursor: pointer;
}
.product-item a {
  text-decoration: none;
}
.product-image {
  width: 100%;
  height: 100%;
  transition: 1s;
}
.product-title {
  color: #8e8e8e;
  text-align: center;
  padding: 18px 0 8px 0;
  transition: 1s;
}
.product-item:hover .product-image {
  transform: scale(1.1);
}
.product-item:hover .product-title {
  color: #000;
}
@media (max-width: 500px) {
  .product-item {
    width: 45%;
  }
}