/* .basket {
  color: #8e8e8e;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.basket {
  background-image: url(../../image/icons/backet-grey.png);
}
.basket:hover {
  background-image: url(../../image/icons/backet.png);
} */