.active {
  /* color: red; */
  /* background-color: aquamarine; */
  color: #000;
}
.nav {
  border-top: 1px solid #8e8e8e;
  border-bottom: 1px solid #8e8e8e;
  margin-bottom: 30px;
}
.nav-list{
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 0 10px 0;
}
.nav-item {
  text-align: center;
}
.nav-item a {
  font-size: 12px;
  text-decoration: none;
  color: #8e8e8e;
}
.nav-item a:hover {
  color: #000;
}
.nav-item a.active {
  color: #000;
  font-weight: 500;
}