.wrapper-autorization {
  display: flex;
  margin: 0 20px 0 0;
}
.autorization {
  color: #fff;
  position: relative;
}
.autorization:before {
  display: block;
  position: absolute;
  content: "";
  top: 0px;
  left: -25px;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../../image/icons/user-grey.png);
}
.autorization-input {
  text-align: center;
  font-size: 12px;
  width: 0px;
  transition: 1s;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #8e8e8e;
  padding-left: 0;
  padding-right: 0;
}
.autorization:hover > .autorization-input {
  width: 100px;
}
.autorization-input:placeholder {
  color: #fff;
}